@use '../../Styles/variables' as *;

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 3vw;
  background-color: $backgroundWeak;
  color: $fontColor;
  border: 0.3vw solid $secondaryColor;
  border-radius: 2vw;
  box-shadow: inset 0vw 0.2vw 0.6vw rgb(88, 88, 88);
  cursor: pointer;
  user-select: none;
  margin: 2vw;
  transition: background-color 0.5s, transform 0.3s;
  &:hover{
    transform: scale(1.2);
  }
  @media(max-width: $break-mobile){
    height: clamp(5vh, 15vw, 10vh);
    width: clamp(20vw, 19vh, 30vw);
    border-radius: min(9vw, 20vh);
    border: 1vw solid $secondaryColor;
  }
}

h6{
  color: white;
  font-family: $fontPrimary;
  font-size: 1.5vw;
  padding: 0.5vw;
}
.themeButton{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.track{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 7.5vw;
  justify-content: center;
  align-items: center;
  @media(max-width: $break-mobile){
    width: 20vw;
  }
}

.sunIcon{
 background-image: url('../../Assets/SunIcon.png');
}

.moonIcon{
  background-image: url('../../Assets/MoonIcon.png');
  opacity: 0;
}

.sunIcon, .moonIcon{
  width: 2vw;
  height: 2vw;
  margin: 1vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 0.3s;
  @media(max-width: $break-mobile){
    width: 10vw;
    height: 10vw;
    margin: 2vw;
  }
}

.circle{
  position: absolute;
  left: 0.5vw;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 2vw;
  background-color: $secondaryColor;
  box-shadow: 0vw 0.2vw 0.5vw rgb(88, 88, 88);
  transition: transform 0.5s ease;
  transform: translate(0vw);
  @media(max-width: $break-mobile){
    box-shadow: -0.5vw 1vw 2vw rgb(88, 88, 88);
    width: 10vw;
    height: 10vw;
    margin: 1.9vw;
    border-radius: 5vw;
    left: -2vw;
  }
}

.dark{
  transition: background-color 0.5s, transform 0.3s;
  background-color: $backgroundDarkStrong;
  .button{
    box-shadow: inset 0vw 1vw 0vw rgb(0, 0, 0);
  }
  .circle{
    transition: transform 0.5s ease;
    transform: translate(4vw);
    @media(max-width: $break-mobile){
      transform: translate(10vw);
    }
  }
  .sunIcon{
    opacity: 0;
  }
  .moonIcon{
    opacity: 1;
  }
}