@use '../../Styles/variables' as *;

.projSpace{
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     @media (max-width: $break-mobile) {
        margin-top: 10vw;
        flex-direction: row;
        gap: 3vw;
    }
}

.projInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgCover{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 25vw;
    height: 20vw;
    background-color: $backgroundWeak;
    border-radius: 20%;
    border-color: $primaryColor;
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.2);
    }
    @media (max-width: $break-mobile) {
        width: 40vw;
        height: 35vw;
    }
}

.image{
    width: 25vw;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (max-width: $break-mobile) {
        width: 40vw;
        height: 35vw;
    }
}

.projName{
    color: white;
    font-size: 3vw;
     @media (max-width: $break-mobile) {
        font-size: 7vw;
    }
}

.projLink{
    color: $secondaryColor;
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.2);
        
    }
    @media (max-width: $break-mobile) {
        font-size: 7vw;
    }
}
h4, .projLink{
    font-size: 1.5vw;
     @media (max-width: $break-mobile) {
        font-size: 5vw;
    }
}