@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');    
$backgroundStrong: #30312F;
$backgroundMedium: #323331;
$backgroundWeak: #474749;
$header:#FFF7D6;
$primaryColor:#015B8F;
$secondaryColor: #00B2A4;
$font-primary: 'Radley', serif;

// Break-points
$break-mobile: 768px;
$break-tablet: 1024px;

