@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');    
$backgroundDarkStrong: hsl(90, 2%, 19%);
$backgroundDarkMedium: #323331;
$backgroundDarkWeak: #474749;

$backgroundStrong: #ececdf;
$backgroundMedium: #e2e1ce;
$backgroundWeak: #faf9e0;


$primaryColor: #015B8F;
$secondaryColor: #00B2A4;
$fontPrimary: 'Radley', serif;
$fontColor: black;

// Break-points
$break-mobile: 768px;
$break-tablet: 1024px;

