// main.scss
@use './variables' as *;

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth; /* opcional, para efeito suave */
} 

body{
  font: $font-primary;
  background: linear-gradient(0deg, $backgroundStrong, $backgroundMedium);
  display: flex;
  flex-direction: column;
}

header{
position: sticky;
top: 0;
width: 100%;
height: 3.5vw;
background-color:$header;
z-index: 2;
display: flex;
flex-direction: row;
align-items: center;
justify-content:end;
gap: 1vw;
// @media(max-width: $break-mobile){
//   display: none;
// }
}

a{
  text-decoration: none;
}

h5{
  color: black;
  transition: transform 0.2s ease-in-out;
  font-size: 2.1vw;
  &:hover{
    color: $primaryColor;
    transform: scale(1.1);
  }
  &:active{
    transform: scale(0.9);
  }
}

.headerSeparator{
height: 2.4vw;
width: 0.2vw;
background-color: black;
margin-right: 0.5vw;
margin-left: 0.5vw;
}

.capa{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vw;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(0deg, $backgroundMedium, $backgroundWeak);
  opacity: 1;
  & > nav{
  padding: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  z-index: 3;
  @media (max-width: $break-mobile) {
   gap: 8vw;
  }
}
  @media (max-width: $break-mobile){
    height: 75dvh;
  }
}

h1, h2, h3, h4{
  color: white;
  font-size: 2.1vw;
  padding: 0.2vw;
  @media (max-width: $break-mobile){
    font-size: 5.5vw;
    padding: 1vw;
  }
}

h1{
  font-size: 2.6vw;
  @media (max-width: $break-mobile){
    font-size: 6.5vw;
  }
}

p{
  color: white;
  font-size: 1.8vw;
  @media(max-width: $break-mobile){
    font-size: 5.1vw;
  }
}

.background{
  position: absolute;
  background-image: url('../Assets/background.jpg');
  background-position-y: -8.2vh;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vw;
  z-index: 0;
  opacity: 0.1;
  pointer-events: none;
  @media (max-width: $break-mobile){
    background-size:245%;
    background-position-x: 40%;
    background-position-y: 0;
    height: 75dvh;
    width: 100%;
  }
}

.icon{
  object-fit: contain;
  width: 3vw;
  transition: transform 0.2s ease-in-out;
  z-index: 5;
  &:hover{
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.9);
  }
   @media (max-width: $break-mobile) {
    width: 12vw;
    margin-top: 10vw;
  }
}

.barra{
height: 0.2vw;
background-color: $primaryColor;
@media (max-width: $break-mobile) {
    height: 1vw;
    
  }
}

.nav{
width: 3vw;
  @media (max-width: $break-mobile) {
    width: 8vw;
    margin-top: 10vw;
  }
}

.central{
  width: 80%;
  align-self: center;
}

section, main {
  scroll-margin-top: 3vw;
}

section{
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
}

.section{
  width: 16.5vw;
  @media(max-width: $break-mobile){
    width: 46vw;
  }
}

.buttonContainer{
  display: flex;
  width: 80%;
  margin-left: 8%;
  margin-top: 2vw;
  gap: 1vw;
  flex-direction: row;
  @media (max-width: $break-mobile) {
    width: 90%;
    margin-left: 5%;
    margin-top: 10vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8vw;
    
  }
}

main{
  margin-top: 5vw;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5vw;
}

.main{
  width: 46.7vw;
  @media (max-width: $break-mobile) {
    width: 80vw;
    
  }
}

.projContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-bottom: 5vw;
  @media (max-width: $break-mobile) {
    flex-direction: column;
    gap: 5vw;
    margin-bottom: 15vw;
  }
}

