@use '../../Styles/variables' as *;

.button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 13vw;
    background-color: $backgroundDarkWeak;
    border:0.2vw solid $secondaryColor;
    border-radius: 2vw;
    height: 4vw;
    @media(max-width: $break-mobile){
        width: 35vw;
        height: 15vw;
        border-width: 1vw;
        border-radius: 10vw;

    }
}

.dark{
    transition: background-color 0.5s ease;
    background-color: $backgroundStrong;
    .skillName{
        color: $fontColor;
    }
}

.separator{
height: 3.5vw;
width: 0.1vw;
background-color: $secondaryColor;
@media (max-width: $break-mobile) {
    height: 12vw;
    width: 1vw;
}
}

.iconButton{
    padding: 1vw;
    width: 2vw;
    @media (max-width: $break-mobile) {
        width: 8vw;
        padding: 2vw;
    }
}

.skillName{
color: white;
font-size: 1vw;
padding: 1vw;
@media (max-width: $break-mobile) {
        font-size: 4vw;
        padding: 2vw;
    }
}