@use '../Styles/variables' as *;

.button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 13vw;
    background-color: $backgroundStrong;
    border:0.2vw solid $secondaryColor;
    border-radius: 2vw;
    height: 4vw;
}

.separator{
height: 3.5vw;
width: 0.1vw;
background-color: $secondaryColor;
}

.iconButton{
    padding: 1vw;
    width: 2vw;
}

.skillName{
color: white;
font-size: 1vw;
padding: 1vw;
}