@use '../Styles/variables' as *;

.projSpace{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     @media (max-width: $break-mobile) {
        margin-top: 10vw;
        flex-direction: row;
        gap: 3vw;
    }
}

.imgCover{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 25vw;
    height: 20vw;
    background-color: $backgroundWeak;
    border-radius: 20%;
    border-color: $primaryColor;
    @media (max-width: $break-mobile) {
        width: 40vw;
        height: 35vw;
    }
}

.projName{
    color: white;
    font-size: 3vw;
     @media (max-width: $break-mobile) {
        font-size: 7vw;
    }
}

.projLink{
    color: $secondaryColor;
}
h4, .projLink{
    font-size: 1.5vw;
     @media (max-width: $break-mobile) {
        font-size: 5vw;
    }
}